body{     margin-right: auto;    margin-left : auto;    width:80%;  background-color:antiquewhite;}

#kirikae_shiji{
	display: block;
	font-size: larger;
	text-align: right;
}

/*メニューの一番上のボタンの基本の設定*/
.header_menu {	height: 25px;	position: relative;    z-index:100;	}
.each_menu { cursor: pointer;	float:left;	margin: 0 2px 0 2px;	width: 100%;	list-style: none;}

/*メニューの一番上のボタンの中身の設定 */
.each_menu > #menu1, #menu2, #menu3, #menu4{cursor: pointer; display: block;	padding: 5px 0px 5px 40px;	background-color:rgb(255, 136, 0);	background-position: 1px 10%;	background-repeat: no-repeat;	color:whitesmoke;	font-size: 15px;	border-radius: 10px;	text-decoration: none;	font-family:serif;	font-weight: 500;}
.each_menu > #menu1{background-image: url(image/obaba_menue.png);}
.each_menu > #menu2{background-image: url(image/menue_hanasaka.png);}
.each_menu > #menu3{background-image: url(image/menue_hutamatayama.png);}
.each_menu > #menu4{background-image: url(image/menue_ojiji.png);}
.each_menu > a:hover {color:yellowgreen;}
.each_menu > a:active {color:yellowgreen;}

/* メニュー一覧の基本設定 */
.each_menu > .menu_contents {	display: none;	margin: 2px 0 0 0;	width: 205px;	position: absolute; list-style: none;}
/* メニュー一覧のホバーとリンクアクティブの設定 */
.each_menu > .menu_contents li img {position:relative; top:4px;}
/* メニュー一覧のホバーとリンククリック後*/
.map_icon_link{display: block;	padding: 5px 0;	background: #e08207d7;	color: #fff; font-size: 15px;	text-align: center;	margin: 2px 0 0 0;border-radius: 5px;   }
.map_icon_link:hover {background: yellowgreen; color: rgba(161, 100, 59, 0.658);}
.map_icon_link_visited{background: rgba(119, 150, 59, 0.74); color: rgb(206, 102, 33);}
/* 更新履歴*/
#kousin_rireki{width: 1050px; 	height: auto;	 border: solid 5px rgb(250, 113, 2);
	background-color:rgba(231, 216, 203, 0.452);}

/*メニューの一番上のボタンの基本の設定*/
.each_menu {width: 95%;	height :100px;}

/*メニューの一番上のボタンの中身の設定 */
.each_menu > #menu1, #menu2, #menu3, #menu4{ height: 80px;background-size: contain; font-size: 50px;  background-position: 30px; }
.each_menu > #menu1{padding-left:140px ;}
.each_menu > #menu2{padding-left:140px ; background-position: 90px; }
.each_menu > #menu3{padding-left:180px ; }
.each_menu > #menu4{padding-left:200px ; background-position: 90px;}

/* メニュー一覧の基本設定 */
.each_menu > .menu_contents {width: 55%;}
.each_menu > .menu_contents li img {position:relative; top:4px; width:55px;}
.map_icon_link{ font-size: 45px;   }

/*タイトルロゴ*/
#title_rogo_star_smafo{display: inline; margin-top:1%; position:relative;zoom:3.5;
	animation-name: yurayura_anime;  animation-duration:0.6s;  animation-iteration-count:infinite;   animation-timing-function:linear;  }
#title_rogo_dokidoki{position:relative; margin-top: 1%;zoom:3.55;
	animation-name: kakudai_anime;  animation-duration:1.2s;  animation-iteration-count:infinite;   animation-timing-function:linear;  }
#title_rogo_star{position:relative; margin-top:1%;zoom:3.55;
	animation-name: yurayura_anime;  animation-duration:0.6s;  animation-iteration-count:infinite;   animation-timing-function:linear; }

#title_rogo_shimogo_wordl{position:relative;margin-top: 1%; width:100%; margin-top: 0; padding: 0 5% 0 5%;
		animation-name: tenmetsu_anime;  animation-duration:0.6s;  animation-iteration-count:infinite;   animation-timing-function:linear;  }

#rogo_centering{text-align: center;}




/*マップがウィンドウからはみ出したときの処理*/
#map_div{zoom:1.3; padding-left:20px; padding-right: 20px;
	box-sizing: border-box; width:100%
	; overflow-x:scroll; overflow-y: hidden;}

/*マップ関係のCSS*/
#map{border: solid 10px rgb(250, 113, 2)}
#hutamatayama{position: absolute;top:-3.5%; left:36%; width:30%;}
#onumazaki_tunnel{position: absolute; top:50%; left:8%;width:30%;}
#sakuragi_hime_game{position:absolute; top:68%;left:41%;width:30%;}
#yunokami_onsen{position: absolute;top:35%;left:40%;width:18%;} 
#tono_heturi{position: absolute;top:25%;left:62%;width:19%;}
#huketu{position: absolute;top:52%;left:65%;width:20%;}
#takarabako_shingoro{position:absolute;top:4%;left:72%;width:12%;}
#sainokami_game{position:absolute;top:59%;left:83%;width:20%;}
#takarabako_shingoro2{position:absolute;top:88%;left:107%;width:10%;}  
#soba_hatake_game{position:absolute;top:8%;left:98%;width:23%;}
#kannon_numa{position:absolute;top:-1%;left:115%;width:25%;}
#yamazakura_game{position:absolute; top:40%;left:120%;width:22%;}
#heihou_stone{position:absolute;top:10%;left:132%;width:25%; }
#huji_no_hana{position: absolute;top:-8%;left:150%;width:30%;}
#jinku_omikuji{position: absolute;top:58%;left:150%;width:25%;}
#takarabako_shingoro3{position:absolute;top:80%;left:178%;width:12%;}

/*スクロールの説明（スマフォだけに表示）*/
#scroll_setumei{display:none;}

/*マップのアイコンのアニメーションとクリック後の処理*/
.map_icon:hover{  opacity:0.5;} 
.map_icon{ animation-name: yurayura_anime;  animation-duration:0.8s;  animation-iteration-count:infinite;   animation-timing-function:linear;  }



/*アニメーション効果*/
@keyframes yurayura_anime{0%{transform:translate(0, 0) rotate(0deg);}25%{transform:translate(0, 0) rotate(5deg);}50%{transform:translate(0, 0) rotate(0deg);}75%{transform:translate(0, 0) rotate(-5deg);}  100% {transform:translate(0, 0)rotate(0deg);}}

@keyframes tenmetsu_anime{0%{opacity: 1;} 25%{opacity: 0.75;} 50%{opacity: 0.5;}  75%{opacity: 0.75;}100%{opacity: 1;}}

@keyframes kakudai_anime{0%{transform: scale(1)} 50%{transform: scale(0.85)}  100%{transform: scale(1)}}

#logo_tizuzho_no_icon_click_please{position:relative;  width:1050px;  margin-top: 0px; margin-bottom: 0px;}
#map_div{position:relative;  margin-top: 20px; zoom:0.705; } 

/*テキストのフォントと位置指定*/
h1{    font-size: 50px;    text-align: center;}
h2{    font-size: 30px; text-align:right;   }

/*メインページのロゴ 位置指定*/
#mainpage_rogo{position: relative; margin-top: 0px;}
.each_logo{position:relative; margin-bottom:30px;}
#syutten{	text-align: right;	margin-top: 0px;}
footer{	text-align: center;}


/*リンク色付け　　 一部のブラウザでリンク表示にならないため*/
.link_decolation{color:blue;
	text-decoration:underline;
}
.link_decolation:hover{color:red;
}


@media(min-width:700px){
	body{     margin-right: auto;    margin-left : auto;    width:1050px;  background-color:antiquewhite;}

	#kirikae_shiji{	display: block;	font-size: larger;	text-align: right;}
	
	/*メニューの一番上のボタンの基本の設定*/
	.header_menu {	height: 25px;	position: relative;    z-index:100;	}
	.each_menu { cursor: pointer;	float:left;	margin: 0 2px 0 2px;	width: 245px;	list-style: none;}
	
	/*メニューの一番上のボタンの中身の設定 */
	.each_menu > #menu1, #menu2, #menu3, #menu4{cursor: pointer; display: block;	padding: 5px 0px 5px 40px;	background-color:rgb(255, 136, 0);	background-position: 1px 10%;	background-repeat: no-repeat;	color:whitesmoke;	font-size: 15px;	border-radius: 10px;	text-decoration: none;	font-family:serif;	font-weight: 500;}
	.each_menu > #menu1{background-image: url(image/obaba_menue.png);}
	.each_menu > #menu2{background-image: url(image/menue_hanasaka.png);}
	.each_menu > #menu3{background-image: url(image/menue_hutamatayama.png);}
	.each_menu > #menu4{background-image: url(image/menue_ojiji.png);}
	.each_menu > a:hover {color:yellowgreen;}
	.each_menu > a:active {color:yellowgreen;}
	
	/* メニュー一覧の基本設定 */
	.each_menu > .menu_contents {	display: none;	margin: 2px 0 0 0;	width: 205px;	position: absolute; list-style: none;}
	/* メニュー一覧のホバーとリンクアクティブの設定 */
	.each_menu > .menu_contents li img {position:relative; top:4px;}
	/* メニュー一覧のホバーとリンククリック後*/
	.map_icon_link{display: block;	padding: 5px 0;	background: #e08207d7;	color: #fff; font-size: 15px;	text-align: center;	margin: 2px 0 0 0;border-radius: 5px;   }
	.map_icon_link:hover {background: yellowgreen; color: rgba(161, 100, 59, 0.658);}
	.map_icon_link_visited{background: rgba(119, 150, 59, 0.74); color: rgb(206, 102, 33);}
	
	
	/*タイトル　ロゴ*/
	#title_rogo_dokidoki{position:relative; margin-top: 10px;zoom:2.55;
		animation-name: kakudai_anime;  animation-duration:1.2s;  animation-iteration-count:infinite;   animation-timing-function:linear;  }
	
	#title_rogo_star{position:relative; margin-top:10px;width:30;zoom:2.55;
		animation-name: yurayura_anime;  animation-duration:0.6s;  animation-iteration-count:infinite;   animation-timing-function:linear;  }
	
	#title_rogo_star_smafo{display: none; position:relative; margin-top:10px;width:30;zoom:2.55;
			animation-name: yurayura_anime;  animation-duration:0.6s;  animation-iteration-count:infinite;   animation-timing-function:linear;  }
	#title_rogo_shimogo_wordl{position:relative;margin-top: 10px; zoom:2.55;
		animation-name: tenmetsu_anime;  animation-duration:0.6s;  animation-iteration-count:infinite;   animation-timing-function:linear;  }
	
	#logo_tizuzho_no_icon_click_please{position:relative;  width:1050px;  margin-top: 0px; margin-bottom: 0px;}
	
	
	
	/*マップ関係のCSS*/
	#map_div{position:relative;  margin-top: 20px; zoom:0.705; } 
	
	#map{    border: solid 10px rgb(250, 113, 2)}
	#huketu{    position: absolute;    top:1250px;    left:1600px;      width:600px;  }
	#hutamatayama{position: absolute;    top:-140px;    left:800px;    width:800px;  text-align: center; }
	#heihou_stone{    position: absolute;    top:300px;    left:3400px;       width:600px;   }
	#huji_no_hana{    position: absolute;    top:-250px;    left:3800px;    width:800px;    }
	#jinku_omikuji{    position: absolute;    top:1500px;    left:3850px;width:12%;  }
	#kannon_numa{    position: absolute;    top:-80px;    left:2950px;    width:700px;  }
	#onumazaki_tunnel{    position: absolute;    top:1400px;    left:90px;    width:900px;     transform:rotate(-15deg); }
	#sainokami_game{position: absolute;    top:1600px;    left:2150px;    width:520px;  }
	#soba_hatake_game{position: absolute;    top:250px;    left:2550px; width:12%;}
	#takarabako_shingoro{    position: absolute;    top:0px;    left:1800px;    width:350px;  }
	#takarabako_shingoro2{    position: absolute;    top:2350px;    left:2800px;    width:300px  }  
	#takarabako_shingoro3{    position: absolute;    top:2250px;    left:4550px;    width: 350px;  }
	#tono_heturi{    position: absolute;    top:600px;    left:1550px;    width: 550px; }
	#yamazakura_game{    position: absolute;    top:1100px;    left:3100px; width:12%; }
	#yunokami_onsen{    position: absolute;    top:900px;    left:1000px;    width:500px  }  
	#sakuragi_hime_game{    position: absolute;    top:1900px;    left:900px;    width:900px;  }
	
	/*スクロールの説明（スマフォだけに表示）*/
	#scroll_setumei{display:none;}
	
	/*マップのアイコンのアニメーションとクリック後の処理*/
	.map_icon:hover{  opacity:0.5;} 
	.map_icon{ zoom:0.3;  animation-name: yurayura_anime;  animation-duration:0.8s;  animation-iteration-count:infinite;   animation-timing-function:linear;  }
	
		
	/*アニメーション効果*/
	@keyframes yurayura_anime{0%{transform:translate(0, 0) rotate(0deg);}25%{transform:translate(0, 0) rotate(5deg);}50%{transform:translate(0, 0) rotate(0deg);}75%{transform:translate(0, 0) rotate(-5deg);}  100% {transform:translate(0, 0)rotate(0deg);}}
	
	@keyframes tenmetsu_anime{0%{opacity: 1;} 25%{opacity: 0.75;} 50%{opacity: 0.5;}  75%{opacity: 0.75;}100%{opacity: 1;}}
	
	@keyframes kakudai_anime{0%{transform: scale(1)} 50%{transform: scale(0.85)}  100%{transform: scale(1)}}
	
	
	/*テキストのフォントと位置指定*/
	h1{    font-size: 50px;    text-align: center;}
	h2{    font-size: 30px; text-align:right;   }
	
	/*メインページのロゴ 位置指定*/
	#mainpage_rogo{position: relative; margin-top: 0px;}
	.each_logo{position:relative; margin-bottom:30px;}
	#syutten{	text-align: right;	margin-top: 0px;}
	footer{	text-align: center;}
	
	/* 更新履歴*/
	#kousin_rireki{width: 1050px; 	height: auto;	 border: solid 5px rgb(250, 113, 2);
		background-color:rgba(231, 216, 203, 0.452);}
	
	/*リンク色付け　　 一部のブラウザでリンク表示にならないため*/
	.link_decolation{color:blue;
		text-decoration:underline;
	}
	.link_decolation:hover{color:red;
	}
	}

	