body{     margin-right: auto;    margin-left : auto;    width:375px;  background-color:antiquewhite;}

/*メニューの一番上のボタンの基本の設定*/
.header_menu {	height: 25px;	position: relative;    z-index:100;	}
.each_menu { cursor: pointer;	float:left;	margin: 1%;width: 95%;	list-style: none;}

/*メニューの一番上のボタンの中身の設定 */
.each_menu > #menu1, #menu2, #menu3, #menu4{
	width:100%;height: 35px;cursor: pointer; display: block;
	background-size: contain;   background-color:rgb(255, 136, 0);	background-position: 30px;	background-repeat: no-repeat; border-radius: 10px;
	font-size: 20px; text-decoration: none;	font-family:serif;	font-weight: 500;color:whitesmoke;}
.each_menu > #menu1{background-image: url(image/obaba_menue.png);padding: 2% 0 0 18%; }
.each_menu > #menu2{background-image: url(image/menue_hanasaka.png);padding: 2% 0 0 18%;background-position: 18%; }
.each_menu > #menu3{background-image: url(image/menue_hutamatayama.png);padding: 2% 0 0 18%;background-position: 12%;}
.each_menu > #menu4{background-image: url(image/menue_ojiji.png);padding: 2% 0 0 28%;background-position: 20%;}
.each_menu > a:hover {color:yellowgreen;}
.each_menu > a:active {color:yellowgreen;}

/* メニュー一覧の各コンテンツの設定 */
.each_menu > .menu_contents {	display: none;	margin: 2px 0 0 0; width: 55%;	position: absolute; list-style: none;}
.each_menu > .menu_contents li img {position:relative; top:4px; width:25px;}
/* メニュー一覧のホバーとリンククリック後*/
.map_icon_link{display: block;	padding: 5px 0;	background: #e08207d7;	color: #fff; font-size: 15px;	text-align: center;	margin: 2px 0 0 0;border-radius: 5px; font-size: 15px;  }
.map_icon_link:hover {background: yellowgreen; color: rgba(161, 100, 59, 0.658);}
.map_icon_link_visited{background: rgba(119, 150, 59, 0.74); color: rgb(206, 102, 33);}

/*タイトルロゴ*/
#title_rogo_star_smafo{width:15%;display: inline; margin-top:1%; position:relative;
	animation-name: yurayura_anime;  animation-duration:0.6s;  animation-iteration-count:infinite;   animation-timing-function:linear;  }
#title_rogo_dokidoki{position:relative; margin-top: 1%;width:55%;
	animation-name: kakudai_anime;  animation-duration:1.2s;  animation-iteration-count:infinite;   animation-timing-function:linear;  }
#title_rogo_star{position:relative; margin-top:1%;width:15%;
	animation-name: yurayura_anime;  animation-duration:0.6s;  animation-iteration-count:infinite;   animation-timing-function:linear; }
#title_rogo_shimogo_wordl{position:relative;margin-top: 1%; width:100%; margin-top: 0; padding: 0 5% 0 5%;
		animation-name: tenmetsu_anime;  animation-duration:0.6s;  animation-iteration-count:infinite;   animation-timing-function:linear;  }
#rogo_centering{text-align: center;}


/*マップ関係のCSS*/
#map_div{position:relative; width:100%	;  zoom:0.705; 
		margin-top: 20px; padding-left:20px; padding-right: 20px;
	box-sizing: border-box;  overflow-x:scroll; overflow-y: hidden;}
#map{border: solid 10px rgb(250, 113, 2)}
#hutamatayama{position: absolute;top:-3.5%;left:54%; width:45%;}
#onumazaki_tunnel{position: absolute; top:50%;left:12%;width:45%;}
#sakuragi_hime_game{position:absolute; top:68%;left:61.5%;width:45%;}
#yunokami_onsen{position: absolute;top:35%;left:60%;width:27%;} 
#tono_heturi{position: absolute;top:25%;left:93%;width:28.5%;}
#huketu{position: absolute;top:52%;left:97.5%;width:30%;}
#takarabako_shingoro{position:absolute;top:4%;left:100%;width:18%;}
#sainokami_game{position:absolute;top:59%;left:124.5%;width:30%;}
#takarabako_shingoro2{position:absolute;top:88%;left:160.5%;width:15%;}  
#soba_hatake_game{position:absolute;top:8%;left:147%;width:35.5%;}
#kannon_numa{position:absolute;top:-1%;left:172.5%;width:37.5%;}
#yamazakura_game{position:absolute; top:40%;left:180%;width:33%;}
#heihou_stone{position:absolute;top:10%;left:198%;width:37.5%; }
#huji_no_hana{position: absolute;top:-8%;left: 225%;width:45%;}
#jinku_omikuji{position: absolute;top:58%;left:225%;width:37.5%;}
#takarabako_shingoro3{position:absolute;top:80%;left:267%;width:18%;}

/*地図スクロールの説明*/
#scroll_setumei{text-align: center; font-size: larger;margin:2% auto 5% auto;}

/*マップのアイコンのアニメーションとクリック後の処理*/
.map_icon:hover{  opacity:0.5;} 
.map_icon{ animation-name: yurayura_anime;  animation-duration:0.8s;  animation-iteration-count:infinite;   animation-timing-function:linear;  }

/*アニメーション効果*/
@keyframes yurayura_anime{0%{transform:translate(0, 0) rotate(0deg);}25%{transform:translate(0, 0) rotate(5deg);}50%{transform:translate(0, 0) rotate(0deg);}75%{transform:translate(0, 0) rotate(-5deg);}  100% {transform:translate(0, 0)rotate(0deg);}}
@keyframes tenmetsu_anime{0%{opacity: 1;} 25%{opacity: 0.75;} 50%{opacity: 0.5;}  75%{opacity: 0.75;}100%{opacity: 1;}}
@keyframes kakudai_anime{0%{transform: scale(1)} 50%{transform: scale(0.85)}  100%{transform: scale(1)}}

#logo_tizuzho_no_icon_click_please{position:relative;  width:100%;  margin-top: 0px; margin-bottom: 0px;}


/*テキストのフォントと位置指定*/
h1{    font-size: 50px;    text-align: center;}
h2{    font-size: 30px; text-align:right;   }

/*ごあいさつ等のロゴ 位置指定*/
#mainpage_rogo{position: relative; margin-top: 5%;margin-bottom: 5%;}
.each_logo{position:relative; margin-bottom:2%;}

#logo_goaistu{width:45%;}
#logo_goutowa{width:100%;}
#logo_osusumeshiogo{width:70%}
#logo_kapurotowa{width:100%}

/*出典*/
#syutten{	text-align: right;	margin-top: 0px;}

/*リンクの色付け*/
.link_decolation:hover{color:red;}
.link_decolation{color:blue;	text-decoration:underline;}

/* 更新履歴*/
#kousin_rireki{width: 100%; 	height: auto;	 border: double 5px rgb(250, 113, 2);
	background-color:rgba(231, 216, 203, 0.452);}

/*フッター*/
footer{margin-top:3px;	text-align: center;background-color: rgba(231, 216, 203, 0.452); border: solid 2px rgb(250, 113, 2);}

@media(min-width:900px){
body{width:900px;  }
#se #se_2{display:inline}
#scroll_setumei{display:none;}
.each_menu {float:left;	margin: 1% 0.2% 0 0.2%;	width: 220px;	}
.each_menu > #menu1, #menu2, #menu3, #menu4{font-size: 15px; }
.each_menu > #menu1{padding: 4% 0 0 8%; background-position: 1%;}
.each_menu > #menu2{padding: 4% 0 0 5%;background-position: 5%; }
.each_menu > #menu3{padding: 4% 0 0 9%;background-position: 2%;}
.each_menu > #menu4{padding: 4% 0 0 2%;background-position: 2%;}

.each_menu > .menu_contents {	display: none;	margin: 2px 0 0 0; width: 24.5%;	position: absolute; list-style: none;}
.each_menu > .menu_contents li img {position:relative; top:4px; width:25px;}

#title_rogo_star_smafo{display: none}
#title_rogo_dokidoki{margin: 0;width:28%;}
#title_rogo_star{margin: 0;width:7%;}
#title_rogo_shimogo_wordl{width:60%; margin:0%;padding:0; }
#rogo_centering{text-align: center;}

#map_div{margin-left:-140px;width:1600px; overflow: hidden;}
#hutamatayama{left:18%; width:15%;}
#onumazaki_tunnel{left:4%;width:15%;}
#sakuragi_hime_game{left:20.5%;width:15%;}
#yunokami_onsen{left:20%;width:9%;} 
#tono_heturi{left:31%;width:9.5%;}
#huketu{left:32.5%;width:10%;}
#takarabako_shingoro{left:38%;width:6%;}
#sainokami_game{left:41.5%;width:10%;}
#takarabako_shingoro2{left:53.5%;width:5%;}  
#soba_hatake_game{left:49%;width:12.5%;}
#kannon_numa{left:57.5%;width:12.5%;}
#yamazakura_game{left:60%;width:11%;}
#heihou_stone{left:66%;width:12.5%; }
#huji_no_hana{left:75%;width:15%;}
#jinku_omikuji{left:75%;width:12.5%;}
#takarabako_shingoro3{left:89%;width:6%;}

#mainpage_rogo{	width:70%;}

}



/*
スクロールの説明（スマフォだけに表示）

*/










